* {
  background-color: #778699;
  box-sizing: border-box;
}
body {
  opacity: 1;
  transition-duration: 0.7s;
  transition-property: opacity;
}

body.fade {
  opacity: 0;
}

p {
  font-size: 140%;
  font-weight: 700;
  overflow: hidden;
  letter-spacing: 2px;
  word-spacing: 1.5px;
  line-height: 110%;
  color: antiquewhite;
}

h1 {
  color: black;
  font-size: 40px;
  font-weight: 3000;
  font-family: Lucida Handwriting;
  text-align: center;
}

ul {
  list-style-type: none; /* I write this for removing bullet points */
  overflow: hidden;
  padding: 0%;
  font-size: 190%;
  font-weight: bolder;
  font-family: "Sofia", sans-serif;
  border: 5px dotted white;
  border-radius: 2%;
}

li {
  float: left;
  margin: 0%;
  width: 20%;
}

li a {
  display: block; /* by writing this, I enlarge the area for borders */
  color: rgb(92, 64, 22);
  text-align: center;
  padding: 10px 10px;
  margin: 0%;
  font-size: 28px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
  color: white;
}

.active {
  background-color: black;
  color: white;
}

p {
  font-family: "Fuzzy Bubbles", cursive;
  line-height: 1.8;
  font-size: 26px;
}
.Mammad,
.Ibrahim,
.Raul,
.Atilla {
  font-family: Papyrus;
}

#whoAreWebSpiders {
  padding-left: 2%;
  padding-right: 3%;
  text-align: justify;
  font-size: 145%;
}

table {
  margin-left: 15%;
  margin-right: 15%;
}

td {
  border-style: outset;
  border-width: 8px;
  border-color: rgb(10, 112, 95);
  border-radius: 5px;
  text-align: center;
}
td {
  font-size: 155%;
  margin-left: 1%;
  margin-right: 3%;
}
#member {
  cursor: pointer;
}
#member:hover {
  background-color: rgb(31, 31, 77);
  color: white !important;
}

#major:hover,
#contribution:hover {
  background-color: rgb(83, 43, 43);
  color: white;
}
#interests:hover,
#percentage:hover {
  background-color: rgb(48, 87, 48);
  color: white;
}

#ourTeam {
  margin-top: 0%;
  color: rgb(0, 0, 0);
}

#tableHead {
  font-weight: bold;
  text-align: center;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 10%;
}

.names {
  text-decoration: none;
  color: black;
  background: transparent;
}

#footeR {
  position: relative;
  padding-top: 0%;
  margin-bottom: -2%;
  border-top: 3px dotted black;
  text-align: center;
  font-family: Lucida Handwriting;
  font-size: 200%;
}

#tableOnAboutPage {
  letter-spacing: 2px;
}

a:active {
  text-decoration: none;
}

#left {
  text-align: left;
}

#center {
  text-align: center;
}

#right {
  text-align: right;
}

.copyright {
  text-align: left;
  height: 20%;
  width: 20%;
}

.copyrighticons {
  text-align: left;
}

#tableOnWebsiteProjectPage {
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#codeHour {
  padding-left: 2%;
  padding-right: 3%;
  text-align: justify;
  font-size: 145%;
}

.rowsForPictures {
  display: block;
  text-align: center;
}
.pictureC1 {
  width: 100%;
  height: 100%;
  padding-bottom: 2%;
}
